.jeopardy-category {
  display: grid;
  grid-template-rows: 60px repeat(5, 1fr);
  background-color: #242424;
}

.jeopardy-category h2 {
  color: white;
  text-align: center;
  font-family: 'Georgia', serif;
  font-size: 2rem;
}

