.jeopardy-question-container {
  width: 50vw;
  height: 50vh;
  padding: 0 4rem;
  position: absolute;
  left: calc(100vw - 75%);
  top: 20%;
  display: flex;
  align-items: center;
  background-color: #2a3698;
  border: 6px solid #242424;
  z-index: 1;
}

.jeopardy-question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  height: 120px;
  padding: 2rem;
  border: 6px solid $clr-border;

  &:hover {
    border-color: $clr-border-hover;
  }
}

.dollar-value {
  font-size: 3rem;
  background-color: #2a3698;
  color: #fff;
  font-weight: 800;
}


//.jeopardy-category:first-child .jeopardy-question {
//  border-left: 0;
//}
//
//
//.jeopardy-category:last-child .jeopardy-question {
//  border-right: 0;
//}

