.jeopardy-question-container {
  width: 85%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #2a3698;
  border: 6px solid #242424;
  z-index: 1;

  &-cat {
    background-color: #151b4b;
  }

  &-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
  }
}

.jeopardy-question {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  height: 120px;
  padding: 2rem;
  border: 6px solid $clr-border;

  &:hover {
    border-color: $clr-border-hover;
  }
}

.dollar-value {
  font-size: 3rem;
  background-color: #2a3698;
  color: #fff;
  font-weight: 800;
}

.jeopardy-category:first-child .jeopardy-question {
  border-left-width: 10px;
}

.jeopardy-category:last-child .jeopardy-question {
  border-right-width: 10px;
}

.jeopardy-question-container {
  animation-name: example;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}
@-webkit-keyframes example {
  0%   {-webkit-transform:scale(0.06);}
  100% {-webkit-transform:scale(1);}
}
@keyframes example {
  0%   {transform:scale(0.06);}
  100% {transform:scale(1);}
}
